h1 {
    text-align: center;
}

.title-text {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    color: blue;
    text-align: center;
}

.BackgroundImage {
    background-image: url("https://media1.tenor.com/m/uPqBfKhxLHgAAAAC/2038pok%C3%A9mon-ceo-pok%C3%A9mon.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}



body {
    cursor: url("../Images/bridget-normal.cur"), auto;
    margin: 0;
    padding: 0;
}

a:hover {
    cursor: url("../Images/Bridget-link.cur"), auto;
}

.innermenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 25vh;
    background: rgba(255, 17, 17, 0.8);
    z-index: -1;
}

.Menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 1;

}

.StartMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000vw;
    height: 1000vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    align-self: stretch;
    justify-content: space-around
}

.col {
    flex: 1 1 auto
}


@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.StartMenu {
    animation: fadeOutAnimation 2s forwards;
    animation-delay: 3s;
}