h1 {
    text-align: center;
}

.title-text {
    margin: 0;
    padding: 0;
}

.BackgroundImage {
    background-image: url("https://media1.tenor.com/m/uPqBfKhxLHgAAAAC/2038pok%C3%A9mon-ceo-pok%C3%A9mon.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

body {
    cursor: url("../Images/bridget-normal.cur"), auto;
    margin: 0;
    padding: 0;
}

a:hover {
    cursor: url("../Images/Bridget-link.cur"), auto;
}

.innermenu {
    max-width: 1200px;
    height: 40vh;
    background-color: red;
    /* border-image: url("../Images/border27.png") 30 / 30px / 30px space; */
    z-index: -1;
}

.Menu {
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 1;

}